body {
 	background-color: #FCFCFC;
	font-family: 'Lato', san-serif;
	font-size:16px;
	color: #000;
}
h1 {
	font-family: 'Poiret One', cursive;
	font-size: 75px;
	color: #ff0000;
}

h3 {
	color: #337ab7;
}

.img-responsive {
	display: block;
  margin: 0 auto;
	width: 200px;
	border: 2px solid #337ab7;
	border-radius: 50%;
}

#main-container {
	background-color: #d9edf7;
  border-radius: 50px;
	border: 4px solid #337ab7;
	padding: 60px;
  margin-top: 60px;
  margin-bottom: 60px;
 }
