.flashy  {
  font-family: 'Poiret One', cursive;
  color: #b20000;
  font-style: italic;
  font-size: 50px;
  text-align: center;
}

.best {
  font-size: 30px;
  color: #00ffff;
}

.details {
  position: relative;
}

ul,
p {
  font-family: 'Roboto', sans-serif;
  font-size: 25px; 
}

h2 {
  font-family: 'Roboto', sans-serif;
}

img {
  border-radius: 50%;
}
